<div class="no-apps">
    {{#if searchQuery.search}}
        <div class="jumbotron" id="no-apps-search-jumbotron">
            <h2>
                <span class="fw fw-warning add-padding-right-1x"></span>对不起，我们找不到你要搜索的任何应用程序！
            </h2>
            <p class="lead add-padding-top-3x text-muted">
               你的搜索过滤器是, "{{searchQuery.search}}". 我现在该怎么办？。
            <p>
        </div>
    {{else}}
        {{#if config.isSelfSubscriptionEnabled}}
            <div class="jumbotron" id="no-apps-default-jumbotron">
                <h2>
                    <span class="fw fw-warning add-padding-right-1x"></span>对不起，我们找不到你要的任何应用程序！
                </h2>
                <p class="lead add-padding-top-3x text-muted">我现在该怎么办？
                <p>
            </div>
        {{else}}
            <div class="jumbotron" id="no-apps-noselfsub-jumbotron">
                <h2>
                    <span class="fw fw-warning add-padding-right-1x"></span>对不起，目前还没有应用发布！
                </h2>
                <p class="lead add-padding-top-3x text-muted">请联系你的发布商
                <p>
            </div>
        {{/if}}
    {{/if}}
</div>